@using Restaurant_Reservation_System_.Service.ViewModels.CategoryVM;

 @model CategoryEditVM
@{
    ViewData["Title"] = "Edit";
}
<br />
<br />
<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="inputBlogTitle">Category</label>
            <form method="post" asp-action="edit" class="d-flex flex-wrap">
                <div class="form-group col-lg-12">
                    <input asp-for="Name" class="form-control" id="inputBlogTitle" placeholder="Name.." maxlength="100">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-lg-12" asp-validation-summary="ModelOnly"></div>
                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <a class="btn btn-light" asp-action="Index">Cancel</a>
            </form>
        </div>
    </div>
</div>