@using Restaurant_Reservation_System_.Service.Dtos.BasketDtos
@model List<CartItemDto>

@if (Model.Count > 0)
{
    @foreach (var cartItem in Model)
    {
        var product = cartItem.Product;

        <div class="cart-item">
            <img src="@cartItem.Product.MainImage" alt="Product" width="50"> @**@
            <div class="cart-details">
                <a asp-area="Admin" asp-controller="Product" asp-action="detail" asp-route-id="@cartItem.">
                    @cartItem.Product.Name
                </a>
                @* <span>1 × £87.34</span> *@
                <p class="price"><span class="qty">@cartItem.Count ×</span> £@(cartItem.Product.Discount * cartItem.Product.Price)</p>
                <a class="cross-btn"><i class="fas fa-times"></i></a>
            </div>
        </div>

    }

    <div class="cart-actions">
        <a asp-controller="Basket" asp-action="Index" class="btn btn-secondary btn-sm">View Cart</a>
        <a asp-controller="Basket" asp-action="Checkout" class="btn btn-success btn-sm">Check Out</a>
    </div>


}
else
{
    <p>
        Cart is Empty
    </p>
}