@using Restaurant_Reservation_System_.Service.Dtos.BlogDtos;
@model BlogUpdateDto


<form method="post" class="category" style="width: 100%" enctype="multipart/form-data">
    <div class="content-wrapper" style=" height:100vh ;overflow:scroll">
        <div class="page-header">
            <h3 class="page-title">Blog Update</h3>
        </div>
        <div class="row">
            <div class="col-md-6 grid-margin stretch-card" style=" width:100%">
                <div class="card">
                    <div class="card-body">
                        <form class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Title" for="exampleInputUsername1">Title</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Title">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MinDescription" for="exampleInputSubtitle">Short Description</label>
                                <input type="text" class="form-control" id="exampleInputShortDescription" placeholder="Surname" asp-for="MinDescription">
                                <span asp-validation-for="MinDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="MaxDescription" for="exampleInputSubtitle">Long Description</label>
                                <input type="text" class="form-control" id="exampleInputDescription" placeholder="Description" asp-for="MaxDescription">
                                <span asp-validation-for="MaxDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label">Select Topics</label>
                                <select asp-for="TopicIds" asp-items="@ViewBag.Topics" class="form-control">
                                </select>
                                <span asp-validation-for="TopicIds" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="form-label"> Chef</label>
                                <select asp-for="ChefId" asp-items="@ViewBag.Chefs" class="form-control">
                                    <option disabled selected>Select Chef</option>
                                </select>
                                <span asp-validation-for="ChefId" class="text-danger"></span>
                            </div>
                            <img style="width: 100px; height: 100px;" class="primary-img"
                                 src="@Model.ImageUrl"
                                 alt="Product Images" />
                            <input asp-for="ImageUrl" type="hidden" value="@Model.ImageUrl " />

                            <div class="form-group">
                                <label asp-for="Image" for="exampleInputUsername1"></label>
                                <input class="form-control" id="exampleInputName" asp-for="Image" placeholder="Enter Image">
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger">  </div>
                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <button class="btn btn-dark" asp-action="Index">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>